/*========================= CSS FILE FOR TESTIMONIALS PAGE  =========================*/

/*========================= HEADER  =========================*/
.testimonials__header *{
   margin: 8px 0;
}

.testimonials__header__counter{
   padding: 3px 12px;
   color: var(--label-secondary--light);
   font-weight:var(--medium);
   border: 1px solid var(--testimonial-counter-border);
   border-radius:100px;
}

.testimonials__header div h1{
   margin: 0 16px;
}

/*========================= CONTAINER  =========================*/

.testimonials__container{
   border-radius:8px;
   box-shadow: 0px 4px 42px 0px #4F72CD26;

}