/*========================= Indexes =========================

GENERAL: ln 14
HEADER: ln 19
CONTAINER/HEADER: ln 36
  LANGUAGE SELECT BUTTON: ln 54
  FILTER INPUT: ln 62
  SORT BUTTON:  ln 109
FOOTER/PAGINATION: ln 149
CONTENT: ln 193
  TESTIMONIAL ROW: ln 201
  TRACK SELECTOR: ln 267

=========================== GENERAL =========================*/
.testimonials {
  margin: var(--general-x-margin);
}

/*========================= HEADER =========================*/
.testimonials__header * {
  margin: 8px 0;
}

.testimonials__header__counter {
  padding: 3px 12px;
  color: var(--label-secondary--light);
  font-weight: var(--medium);
  border: 1px solid var(--testimonial-counter-border);
  border-radius: 100px;
}

.testimonials__header div h1 {
  margin: 0 16px;
}

/*========================= CONTAINER/HEADER =========================*/
.testimonials__container {
  border-radius: 8px;
  box-shadow: 0px 4px 42px 0px #4f72cd26;
  margin: var(--general-x-margin) 0;
}

.testimonials__container__header,
.testimonials__container__footer {
  justify-content: space-between;
  padding: 16px 24px;
}

.testimonials__container__header {
  border-bottom: 1px solid var(--border--light);
  position: relative;
}

/*=============== LANGUAGE SELECT BUTTON ===============*/
.testimonials__container__header__language-select img:nth-of-type(1) {
  margin-right: 15px;
}
.testimonials__container__header__language-select {
  margin-right: 24px;
}

/*=============== FILTER INPUT ===============*/
.testimonials__container__header__filter-input {
  width: 380px;
}

.testimonials__container__header__filter-input:focus-within {
  box-shadow: 0px 0px 2px 2px #2e57e840;
  background: var(--default-background);
  outline: 1px solid var(--blue-light);
  outline-offset: -1px;
}

.testimonials__container__header__filter-input input {
  width: 100%;
}
.testimonials__container__header__filter-input img {
  margin-right: 16px;
}

.testimonials__container__header__filter-input input,
.testimonials__container__header__sort-options button,
.testimonials__container__header__sort-button {
  color: var(--label-secondary--light);
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-weight: var(--light);
}

.testimonials__container__header__filter-input input {
  color: var(--label-default--light);
}

.testimonials__container__header__filter-input,
.testimonials__container__header__sort-options button,
.testimonials__container__header__sort-button {
  background: var(--label-default-text--dark);
  padding: 12px 21px;
  border-radius: 5px;
}
.testimonials__container__header__sort-options button {
  background: var(--default-background);
}

.testimonials__container__header__sort-options .--selected {
  background: var(--label-default-text--dark);
}

/*=============== SORT BUTTON ===============*/ 
.testimonials__container__header__sort-button,
.testimonials__container__header__sort-options button {
  width: 348px;
  justify-content: space-between;
  text-align: left;
}

.testimonials__container__header__sort-button > img,
.lang-select-down-arrow {
  transform: rotate(0deg);
  transition: transform 150ms ease-out;
}
.lang-select-down-arrow.--is-open,
.testimonials__container__header__sort-button .--is-open {
  transform: rotate(180deg);
}

.testimonials__container__header__sort-options button {
  outline: 4px solid white;
  outline-offset: -4px;
  border-radius: 8px;
}

.testimonials__container__header__sorter {
  position: relative;
}

.testimonials__container__header__sort-options {
  z-index: 99;
  display: flex;
  flex-direction: column;
  background: var(--default-background);
  box-shadow: 0px 4px 42px 0px #4f72cd26;
  position: absolute;
  top: 125%;
  border-radius: 8px;
  animation: dot-it 80ms forwards;
}

/*========================= FOOTER/PAGINATION =========================*/
.testimonials__container__footer {
  border-top: 1px solid var(--border--light);
}

.testimonials__container__footer__pages > div,
.testimonials__container__footer button {
  padding: 8px 16px;
  margin: 0 6px;
  color: var(--label-secondary--light);
  font-family: inherit;
  font-weight: var(--medium);
  font-size: var(--pagination-font-size);
}

.testimonials__container__footer button {
  border: 1px solid var(--border--light);
  border-radius: 5px;
}

.testimonials__container__footer img {
  filter: var(--change-svg-color-to-label-secondary--light);
}

.testimonials__container__footer button:disabled {
  filter: var(--change-svg-color-to-label-tertiary--light);
}

.testimonials__container__footer button:disabled {
  box-shadow: none;
  color: var(--label-tertiary--light);
  background: var(--divider--light);
  border: none;
}
.testimonials__container__footer .--stepper {
  box-shadow: 0px 1px 0px 1px #cbc9d999;
}

.testimonials__container__footer .--active {
  color: var(--label-default--light);
  border: 1px solid var(--label-tertiary--light);
  background: var(--highlight--light);
}

/*========================= CONTENT =========================*/

.testimonials__container__content {
  position: relative;
  height: var(--testimonials-container__content-height);
  overflow-y: scroll;
}

/*=============== TESTIMONIAL ROW ===============*/
 
.testimonial-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 20px;
  border-bottom: 1px solid var(--testimonial-row-border);
  color: var(--label-secondary--light);
}

.testimonial-row:hover {
  cursor: pointer;
  background: var(--testimonial-row-hover-background);
}

.testimonial-row--left {
  width: 30%;
}

.testimonial-row--center {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.testimonial-row--right {
  width: 20%;
  justify-content: right;
  color: var(--label-secondary--light);
}

.testimonial-row--right > div {
  margin-right: 60px;
}
.testimonial-row--left > .track-img-container {
  margin: 0 26px 0 10px;
  width: 32px;
  height: 32px;
}
.testimonial-row--left > .mentor-avatar-container {
  width: 42px;
  height: 42px;
}

.testimonial-row--left > .mentor-avatar-container > img {
  border-radius: 50%;
}
.testimonial-row--left > .handle-title-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
}

.testimonial-row--left > .handle-title-container div:nth-of-type(1) {
  color: var(--label-default--light);
  font-size: var(--default-font-size);
  font-weight: var(--medium);
}
.testimonial-row--left > .handle-title-container div:nth-of-type(2) {
  font-size: var(--pagination-font-size);
  font-weight: var(--light);
}

/*=============== TRACK SELECTOR ===============*/
.testimonials__track-selector {
  z-index: 101;
  position: absolute;
  background: var(--default-background);
  top: 100%;
  box-shadow: 0px 4px 42px 0px #4f72cd26;
  border-radius: 8px;
  padding: 8px;
  height: 364px;
  width: 376px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  animation: dot-it 80ms forwards;
}

.track-radio {
  padding: 8px 24px;
  justify-content: space-between;
  font-size: var(--default-font-size);
}

.track-radio img {
  margin: 0 16px 0 24px;
}

.track-radio input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--default-background);
  margin: 0;
  font: inherit;
  color: var(--label-secondary--light);
  width: 21px;
  height: 21px;
  border: 1px solid var(--label-secondary--light);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]:checked::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: inset 9px 9px var(--label-default--light);
}

.track-radio:hover {
  background: var(--label-default-text--dark);
  cursor: pointer;
}

.track-radio *:hover {
  cursor: pointer;
}

.track-radio.--selected {
  background: var(--label-default-text--dark);
}
