@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* COLOR PALETTE */
  --default-background:white;

  --label-default--light: #130B43;
  --label-secondary--light: #5C5589;
  --label-tertiary--light:#76709F;
  --label-default-text--dark: #F0F3F9;
  --divider--light: #E0E0ED;
  --navbar__border-bottom-color: #C8D5EF;
  --testimonial-counter-border:#CBC9D9;
  --testimonial-row-border:#EAECF3;
  --testimonial-row-hover-background:#F4F7FD;
  --border--light:#D5D8E4;
  --highlight--light:#E1EBFF;
  --alert--light: #D85050;
  --caution--light: #E48900;
  --blue-light:#2E57E8;
  --loader-background:#FBFCFE;


  /* FONT */
  --default-font-family: "Poppins", sans-serif;
  --default-font-size: 16px;

  --light:400; /* this should be named regular.. :((*/
  --medium: 500;
  --semi-bold: 600;
  --notification-font-size: 13px;
  --pagination-font-size:14px;
  /* MARGINS */
  --general-x-margin: 32px;

  /* DIMENSIONS */
  --reputation-button-height: 31px;
  --reputation-button-width: 97px;
  --reputation-button-border-size:3px;
  --testimonials-container__content-height:640px;

  /* FILTERS */
  --change-svg-color-to-label-secondary--light: invert(37%) sepia(19%)
    saturate(1190%) hue-rotate(208deg) brightness(85%) contrast(85%);
  --change-svg-color-to-label-tertiary--light: filter: invert(48%) sepia(11%) saturate(1195%) hue-rotate(208deg) brightness(92%) contrast(89%);
  --change-svg-color-to-white: invert(100%) sepia(100%) saturate(1%)
    hue-rotate(42deg) brightness(105%) contrast(101%);
  --change-svg-color-to-caution--light: invert(58%) sepia(24%) saturate(5742%)
    hue-rotate(9deg) brightness(98%) contrast(101%);
}

button {
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
}

input{
  border:none;
  background:none;
}
input:focus{
  outline:none;
  
}

a{
  text-decoration: none;
}



::-webkit-input-placeholder { /* Edge */
  color: var(--label-secondary--light);
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-weight:var(--light);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--label-secondary--light);
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-weight:var(--light);
}

::placeholder {
  color: var(--label-secondary--light);
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-weight:var(--light);
}

h1{
  color:var(--label-default--light);
  line-height:43px;
}

/* GENERAL PURPOSE CLASSES */
.flex-row-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.flex-column-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* .absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.non-selectable{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none; 
}